/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* utility */

.hr{
    color: black;
}

.current{
    color: rgb(85, 84, 84);  
}

.main-body{
    height: 100vh;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3rem;
}

.m-btn{
    border-style: none;
    border-radius: 3px;
    background-color: #438e4e;
    color: white;
    height: 40px;
    width: 100px;
    margin-top: 15px;
}

/* header */

.header{
    background-color: #3be755;
    flex: 1.5;
    text-align: center;
    padding: 23px;
    color: white;
    max-width: 250px;
}

.header h1{
    font-size: 20px;
    margin-top: 10px;
}

.nav {
font-weight: bold;
margin: 25px 0;
}

.nav li {
    margin: 10px 0;
    list-style: none;
    color: white;
    
}

.nav ul .list-div{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}

.nav ul img{
    padding-right: 15px;
    
}

.personal-pic{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 15px 0;
}


.header .persona a{
    color: white;
}

.header .persona .socials{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    display: inline-flex;
    margin: 15px 2px;
    padding: 5px 2px;
    color: #3be755 !important;
}


.header .persona p{
    font-size: small;
}

.nav ul{
    display: flex;
    flex-direction: column;
}

.nav ul img{
    height: 20px;
}

.section{
    flex: 6;
}

/* body */

.section .top{
    background-color: #fafafa;
    padding: 20px;
    text-align: justify;
}

.section .form input{
    height: 30px;
    width: 45%;
    border-radius: 4px;
    border-color: rgb(180, 175, 175);
}

.section .form button{
    border-radius: 3px;
    background-color: #2cd846;
    color: white;
    height: 30px;
    width: 100px;
    border: none;
}

.section .top .container{
    margin: auto;
    text-align: center;
    max-height: auto;
    padding: 10px 0px;
    justify-items: center;
    width: 70%;
}

.section .container p{
    font-size: 15px;
    padding: 15px 0;
}


.section .body{
    width: 60%;
    margin: auto;
    text-align: justify;
    padding: 10px 0;
}

.section .body li{
    display: inline;
    padding-right: 15px;
    opacity: 0.7;    
}

.section .body .article{
    margin-bottom: 20px;
}

.section .body .article h3{
    font-size: 20px;
    font-weight: bold;
}


.section .body a{
    font-size: 12px;
    padding: 20px 0;
    text-decoration: none;
    color: #3cd453;
}


.section .article{
    display: flex;
}

.section .body .article{
    margin: 20px 25px 0 0;
}

.section .body .article h3{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
} 
.section .body .article p, 
.section .body .article a{
    font-size: small;    
}

.section .body .article img{
    height: 100px;
    width: 100px;
    margin-right: 20px;
}